body {
  background: #eaf2fc;
  color: #333333;
  height: 100vh;
}

#surgery_title, body, h1, h2, h3, h4, h5, h6, .footer {
  color: #333333;
  font-family: Arial;
}

#page-container {
  position: relative;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#mySidenav a {
  position: absolute;
  margin-top: 100px;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#home {
  top: 20px;
  background-color: #74fecc;
}

#the-team {
  top: 90px;
  background-color: #6bb7f5;
}

#products {
  top: 220px;
  background-color: #a694fe;
}

#pet-advice {
  top: 290px;
  background-color: #f9b2f2;
}

#account {
  top: 430px;
  background-color: #74fecc;
}

#logout {
  top: 500px;
  background-color: #f176d8;
}

#login {
  top: 430px;
  background-color: #6bb7f5;
}

#register {
  top: 500px;
  background-color: #a694fe;
}

#admin {
  top: 600px;
  background-color: #5a0aa1;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.accordion {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #a694fe;
  border-radius: 10px;
  color: white;
}

.accordion__question p {
  margin: 5px;
  padding: 0;
  font-family: Arial;
  font-size: 20px;
}

.accordion__answer p {
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-family: Arial;
  background: #d5cdfe;
  color: #333333;
  border-radius: 10px;
}

.accordion:hover {
  cursor: pointer;
}

.accordion__answer {
  display: none;
}

.accordion.active .accordion__answer {
  display: block;
}

.admin-row {
    height: 17em;
}

.admin-tile {
    padding: 5em;
    margin: .1em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.admin-tile:hover .admin-tile-sec {
    display: inline-block;
}

.admin-tile:hover .admin-tile-third {
    display: none;
}

.admin-tile-main {
    font-size: 3em;
}

.admin-tile-sec {
    font-size: 1em;
    display: none;
}

#admin-tile-1 {
    background-color: #74fecc;
}

#admin-tile-2 {
    background-color: #6bb7f5;
}

#admin-tile-3 {
    background-color: #a694fe;
}

#admin-tile-4 {
    background-color: #f9b2f2;
}

/* Three columns side by side */
.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
