{% extends "layout.html" %}
{% block content %}

    <h1> Welcome {{ user.cus_first_name }}</h1>

<div>
    <p>Customer Name: {{ user.cus_first_name }} {{ user.cus_last_name }}</p>
    <p>Registered Email: {{ user.cus_email }}</p>
    <p>Customer Address: {{ user.address }}</p>
    <p>Customer Contact Number: {{ user.phone }}</p>
</div>

    <div>
        <a href="/update-customer">Update Details</a></div>
    <div>
        <a href="/update-password">Update Password</a>
    </div>
<br>

<h2>Your Pets</h2>
<div>
{% if patients %}
    <table id="tab_cus" class="table table-striped">
    <thead>
      <tr>
        <th>Update</th>
        <th>Pet Name</th>
        <th>Species</th>
        <th>Breed</th>
        <th>Sex</th>
        <th>DoB</th>
        <th>Weight (g)</th>
        <th>Chip No.</th>
        <th>Neuter</th>
        <th>Insurance</th>
      </tr>
    </thead>
    <tbody>
      {% for pat in patients %}
      <tr>
        <td><a href="/update-pet/{{ pat.pat_id }}">Update Record</a></td>
        <td>{{ pat.pat_name }}</td>
        <td>{{ pat.species }} </td>
        <td>{{ pat.breed  }}</td>
        <td>{{ pat.sex }}</td>
        <td>{{ pat.date_of_birth }}</td>
        <td>{{ pat.weight }} </td>
        <td>{{ pat.chip_num }}</td>
        <td>{% if pat.neutered_status == 1 -%}
          Y
          {% else -%}
          N
          {% endif %}</td>
        <td>{% if pat.has_insurance == 1 -%}
          Y
          {% else -%}
          N
          {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
<p>You don't have any pets registered</p>
{% endif %}
</div>

<div>
    <p>Do You Need To <a href="/register-pet">Register A New Pet</a>?</p>
</div>

<h2>Your Orders</h2>
<div>

{% if order_error %}
<table id="tab_ord" class="table table-striped">
<thead>
  <tr>
    <th>Update</th>
    <th>ID</th>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Customer id</th>
    <th>Customer Name</th>
    <th>Quantity Ordered</th>
    <th>Order Date</th>
    <th>Collection Date</th>
    <th>Collected</th>
    <th>Reorder</th>
  </tr>
</thead>
<tbody>
{% for ord in orders %}
    <tr>
      <td><a href="/admin/orders/update/{{ ord.order_id }}">Update Record</a></td>
      <td>{{ ord.order_id }}</td>
      <td>{{ ord.product_id }}</td>
      <td>{{ ord.prod_name }}</td>
      <td>{{ ord.cus_id }}</td>
      <td>{{ ord.cus_last_name }} </td>
      <td>{{ (ord.quantity_ordered)  }}</td>
      <td>{{ ord.order_date }}</td>
      <td>{{ ord.collection_date }}</td>
      <td>{% if ord.collected == 1 -%}
        Y
        {% else -%}
        N
        {% endif %}</td>
      <td><a href="/admin/products/update/{{ prod.product_id }}">Reorder</a></td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
<p>You don't have any orders</p>
{% endif %}
</div>

<div>
    <p>Would You Like To To <a href="/products">Place An Order</a>?</p>
</div>

{% endblock content %}