{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Order</legend>
                <div class="form-group">
                    {{ form.collected.label(class="form-control-label") }}
                    {{ form.collected(class="form-control form control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.collection_date.label(class="form-control-label") }}
                    {{ form.collection_date(class="form-control form control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn_outline_info") }}
            </div>
        </form>

      </div>

{% endblock content %}