{% extends "layout.html" %}
{% block content %}

<table id="tab_ord" class="table table-striped">
    <thead>
      <tr>
        <th>Update</th>
        <th>ID</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Customer id</th>
        <th>Customer Name</th>
        <th>Quantity Ordered</th>
        <th>Order Date</th>
        <th>Collection Date</th>
        <th>Collected</th>
      </tr>
    </thead>
      <tbody>
      {% for ord in orders %}
        <tr>
          <td><a href="/admin/orders/update/{{ ord.order_id }}">Update Record</a></td>
          <td>{{ ord.order_id }}</td>
          <td>{{ ord.product_id }}</td>
          <td>{{ ord.prod_name }}</td>
          <td>{{ ord.cus_id }}</td>
          <td>{{ ord.cus_last_name }} </td>
          <td>{{ (ord.quantity_ordered)  }}</td>
          <td>{{ ord.order_date }}</td>
          <td>{{ ord.collection_date }}</td>
          <td>{% if ord.collected == 1 -%}
                    Y
                    {% else -%}
                    N
                {% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  <tfoot>
  </tfoot>
</table>
{% endblock content %}

{% block scripts %}
<script>

$(document).ready(function () {
      $('#tab_ord').DataTable();
});

    </script>
{% endblock %}