{% extends "layout.html" %}
{% block content %}

<p><button type="button" class="btn btn_outline_info"><a href="/admin/products/add">Click to Add New Product</a></button></p>
<table id="tab_prod" class="table table-striped">
    <thead>
      <tr>
         <th>Update</th>
        <th>Order ID</th>
        <th>Species</th>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
        <th>Cost (£)</th>
        <th>Quantity Available</th>
      </tr>
    </thead>
      <tbody>
      {% for prod in products %}
        <tr>
          <td><a href="/admin/products/update/{{ prod.product_id }}">Update Record</a></td>
          <td>{{ prod.product_id }}</td>
          <td>{{ prod.prod_species }}</td>
          <td>{{ prod.prod_category }}</td>
          <td>{{ prod.prod_name }}</td>
          <td>{{ prod.prod_description }} </td>
          <td>{{ "%.2f" %(prod.prod_cost/100)  }}</td>
          <td>{{ prod.quantity_available }}</td>
        </tr>
      {% endfor %}
    </tbody>
  <tfoot>

  </tfoot>
</table>
{% endblock content %}

{% block scripts %}
<script>


$(document).ready(function () {
      $('#tab_prod').dataTable({

          "columnDefs": [
        { "width": "10%" },
       { "width": "5%" },
       { "width": "7%" },
       { "width": "7%" },
       { "width": "20%" },
       { "width": "30%" },
       { "width": "7%" },
       { "width": "7%" },
       { "width": "7%" }
              ]
      });
      });


</script>
{% endblock %}