{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div id="home-carousel" class="col-md-5 carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/images/carousel/cat1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat3.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat4.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat5.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="col-md-7">
      <div class="row">
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
          <p>Attack feet behind the couch destroy couch flop over give attitude hide when guests come over hopped up on goofballs hunt anything that moves  claw drapes  intrigued by the shower bag stretch, intently stare at the same spot flop over shake treat  swat at dog chase mice lick butt chase imaginary bugs need to chase tail make muffins. Hide when guests come over swat at dog lick butt make muffins destroy couch flop over  intrigued by the shower flop over  claw drapes chase mice shake treat   stand in front of the computer screen  hopped up on goofballs, bag stretch give attitude attack feet hunt anything that moves need to chase tail all of a sudden go crazy intently stare at the same spot behind the couch chase imaginary bugs intently stare at the same spot.  intrigued by the shower make muffins give attitude chase mice  claw drapes intently stare at the same spot all of a sudden go crazy  stand in front of the computer screen.
          </p>
        </div>
      </div>
    </div>

  <!-- Add a separate div containing the second-row homepage elements here -->

</div>
{% endblock content %}