{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div id="home-carousel" class="col-md-5 carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/images/carousel/cat1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat3.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat4.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/carousel/cat5.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="col-md-7 align-self-center">
      <div class="row">
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
          <h3><b>About Us</b></h3>
          <p class="align-middle">Welcome to the <b>Furry Godmother Vet Clinic</b> with over 30 years of experience in providing compassionate care to pets. Our team of experienced veterinary surgeons and staff are dedicated to delivering personalized care to each and every animal that walks through our doors.</p>
          <p class="align-middle">With a focus on personalized care, we understand that every pet is unique and requires individual attention and treatment.</p>
          <p class="align-middle">Our commitment to excellence is evident in every aspect of our practice, from routine check-ups to complex surgeries. As a trusted and established practice in Leeds, we are proud to have earned a reputation for providing exceptional care to our patients and their owners.</p>
        </div>
      </div>
    </div>
</div>

  <!-- Add a separate div containing the second-row homepage elements here -->
<br>
<br>

<div class="row">
  <div id="review-carousel" class="col-md-5 carousel slide align-self-center" data-bs-ride="carousel">
    <h5><b>Reviews</b></h5>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/images/review_images/1_edited.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/review_images/2_edited.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/review_images/3_edited.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../static/images/review_images/4_edited.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#review-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#review-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  <div class="col-md-4">
    <img src="../static/images/team_images/the-team.jpg" alt="The Furry Godmother Team" width="100%">
  </div>

  <div class="col-md-3">
    <h5><b>Opening Hours</b></h5>
    <table  >
	<tbody>
	<tr>
		<td>&nbsp;Monday</td>
		<td>&nbsp;8:30 - 19:00<br></td>
	</tr>
	<tr>
		<td>&nbsp;Tuesday</td>
		<td>&nbsp;8:30 - 19:00</td>
	</tr>
	<tr>
		<td>&nbsp;Wednesday</td>
		<td>&nbsp;8:30 - 19:00</td>
	</tr>
	<tr>
		<td>&nbsp;Thursday</td>
		<td>&nbsp;8:30 - 19:00</td>
	</tr>
	<tr>
		<td>&nbsp;Friday</td>
		<td>&nbsp;8:30 - 19:00</td>
	</tr>
	<tr>
		<td>&nbsp;Saturday</td>
		<td>&nbsp;8:30 - 12:30<br></td>
	</tr>
	<tr>
		<td>&nbsp;Sunday</td>
		<td>&nbsp;Closed</td>
	</tr>
	<tbody>
</table>

</div>



{% endblock content %}