{% from 'bootstrap5/form.html' import render_form %}
{% extends "layout.html" %}


{% block content %}

<div>

</div>
<p>
{{ product_info.prod_name }}
    </p>
<img src="/static/images/{{ product_info.prod_image }}" alt="product picture">
<p>
{{ product_info.prod_description }}
</p>
<p>
£ {{ product_info.prod_cost/100 }}
</p>
<p>
Amount currently in stock:  {% if product_info.quantity_available == 0 %}
    out of stock
    {% else %}
    {{ product_info.quantity_available }}
    {% endif %}
</p>

    <div class="content-section">
        {{ render_form(form) }}
    </div>
    <div style="color:red;"> * Fields are mandatory </div>
{% endblock content %}