{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="team.css" />
    <title>Meet the Team</title>
  </head>
  <body>
    <h1 style="color: rgb(25, 187, 181); text-align: center">Meet the Team</h1>

    <h2 style="color: rgb(25, 187, 181); text-align: center">
      Welcome to our Meet the Team page here at Furry Godmother's Vet Clinic.
    </h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../static/images/team_images/img1.jpg" alt="Martina" style="width: 100%" />
          <div class="container">
            <h2>Martina Yusef</h2>
            <p class="title">Senior Veterinary Surgeon</p>
            <p>BVetMed, MRCVS</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/team_images/img1.jpg" alt="Maia" style="width: 100%" />
          <div class="container">
            <h2>Maia Cojan</h2>
            <p class="title">Veterinary Surgeon</p>
            <p>BVetMed, MRCVS</p>
            <p>
              Maia qualified in 2010 and joined Furry Godmothers for the first
              18 months of her career. 10 years living and working in Australia
              followed, before she returned to Furrys' in 2020.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/team_images/img1.jpg" alt="Rachel" style="width: 100%" />
          <div class="container">
            <h2>Rachel Standish</h2>
            <p class="title">Veterinary Surgeon</p>
            <p>DVM, MRCVS</p>
            <p>
              Rachel qualified as a veterinary surgeon in 1999 and joined
              Furrys' in 2008 as an experienced surgeon. She enjoys all aspects
              of first opinion veterinary work.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/team_images/img1.jpg" alt="Arianne" style="width: 100%" />
          <div class="container">
            <h2>Arianne Donoghue</h2>
            <p class="title">Veterinary Surgeon</p>
            <p>MBBS, MRCVS,</p>
            <p>
              Arianne worked as a GP for 6 years before making the change from
              treating humans to animals in 2020. She is passionate about
              dermatology and is our resident expert in the field.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/team_images/img1.jpg" alt="Lamees" style="width: 100%" />
          <div class="container">
            <h2>Lamees Khan</h2>
            <p class="title">Veterinary Surgeon</p>
            <p>BVetMed, MRCVS</p>
            <p>
              Lamees qualified from the University of Bristol in 2020 and joined
              the practice in August of that year. She has a special interest in
              medicine and cardiology.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/team_images/img1.jpg" alt="Julie" style="width: 100%" />
          <div class="container">
            <h2>Julie Kellachan</h2>
            <p class="title">Veterinary Surgeon</p>
            <p>DVM, MRCVS</p>
            <p>
              Julie qualified from the University of Glasgow in 2015 and has
              worked all over the UK before joining Furrys' in 2022. Her passion
              is small animals, and she runs our small animal clinic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


{% endblock content %}